/* generals */

body{
    background-color: rgb(193, 193, 193);
    height: 100vh;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

i{
    padding: .3rem;
}

.body_header{
    background-color: #075E54;
    height: 15%;
    width: 100%;
}

.content_container{
    height: 95vh;
}

header{
    height: 60px;
}

main{
    height: calc(100% - 110px);
}

footer{
    height: 50px;
}
/* aside */

aside{
    width: 30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid black;
}

.notifications{
    height: 50px;
    background-color: #34b7f1;
}

.notifications_text{
    height: 10%;
    font-size: .7rem;
}

.fa-bell-slash{
    font-size: 25px;
}

.users_container{
    height: calc(100% - 110px);
}

.users_container .search_user:hover,
 .user:hover{
    background-color: #ece5dd;
}

.user_list{
    height: 90%;
}

/* section */

section{
    width: 70%;
    background-image: url(https://preview.redd.it/qwd83nc4xxf41.jpg?auto=webp&s=172adf428061ec1b71c0d43b7ba870f85d46a816);
}

.user_profile,
.user_chatbar,
.send_msg{
    background-color: #ece5dd;
}

.msg_main{
    max-width:max-content;
    border-radius: 20%;
    padding: .3rem;
    margin: .5rem;
}

.receive_msg{
    background-color: #dcf8c6;
}